.header {
  padding: 45px 0 37px 0;
  border-bottom: 1px rgba(84, 84, 84, 0.7) solid;
}

@media (max-width: 920px) {
  .header {
    margin: 45px 15px 0 15px;
  }
}

@media (max-width: 440px) {
  .header {
    margin: 0;
    padding: 28px 27px 31.6px 27px;
  }
}